.rect_info {
    opacity:1;
}
.labeltools{
    display: inline-block;
    width: 800px;
    height: 40px;
    border-radius: 25px;
    background: #F7F7F7;
    margin-left: 30px;
}
.pic2 {
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
}

.pic3 {
    text-align: right;
    margin-left: 100px;
    display: inline-block;
    overflow-y: scroll;
    height: 400px;
    width: 500px;
}


.svgpanel {
    margin-left: 50px;
    float: left;
    display: inline-block;
    border-radius: 25px;
    width: 675px;
    height: 875px;
    background: #F7F7F7;
}
.defectInfo{
    display: inline-block;
    margin-left: 50px;
    width: 350px;
    border-radius: 25px;
   }
.blue {
    background-color: #00a0e9;
}
.defectInfoUtils{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pageUtils{
    overflow: hidden;
    margin-top: 50px;
}
.info{
    margin-left: 150px;
    display: inline-block;
}
.infoChart{
    width: 700px;
}
.infoTable{
    margin-top: 150px;
    margin-left: 50px;
    width: 600px;
    height: 300px;
}
polygon:hover {
    opacity: 1;
    stroke-Width:7px;
}
body{

}
.picManage {
    margin-top: 10px;
    /*float:left;*/
    /*position:relative;*/
    /*left:20%;*/
    /*clear:both;*/
}
.picManage .svgG{
    position: absolute;
    z-index: 2;
}

.picManage .tifImg{
    margin-top: 100px;
    position: absolute;
    z-index: 1;
}
.Utils {
    margin-top: 1px;
    /*top: 450px;*/
    /*bottom: 500px;*/
}

.Legends {
    margin-top: 1px;
    /*bottom: 500px;*/
}

.LegendsDiv {
    width: 120px;
}

.LegendsDivSymbol {
    vertical-align: middle;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}

.LegendsDivBoundarySymbol {
    vertical-align: middle;
    font-size: 28px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    top: -2px;
}


.LegendsDivText {
    vertical-align:middle;
}