.rect_info {
    opacity:1;
}
.defectInfo{
    float: left;
    margin-left: 1020px;
}
.defectInfo Table{
    height: 100px;
    width: 270px;
}
.blue {
    background-color: #00a0e9;
}
.defectchart{
    position: absolute;
    float: left;
    margin-top: 280px;
    margin-left: 900px;
}
.barchart{
    width: 400px;
}
polygon:hover {
    opacity: 0.6;
    stroke-Width:5px;
}
body{

}
.picManage {
    /*float:left;*/
    /*position:relative;*/
    /*left:20%;*/
    /*clear:both;*/
}

.picManage .svgG{

    position: absolute;
    z-index: 2;
}

.picManage .tifImg{

    position: absolute;
    z-index: 1;
}

.Utils {

    position: absolute;
    top: 460px;
    /*top: 450px;*/
    /*bottom: 500px;*/
}

.Legends {
    position: absolute;
    top: 430px;
    /*bottom: 500px;*/
}

.LegendsDiv {
    width: 120px;
}

.LegendsDivSymbol {
    vertical-align: middle;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}

.LegendsDivBoundarySymbol {
    vertical-align: middle;
    font-size: 28px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    top: -2px;
}


.LegendsDivText {
    vertical-align:middle;
}