.header {
    /* The image used */
    background-image: url(../images/header1.jpg) ;

    /* Full height */
    /*width: 100%;*/
    /*height: 10%;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    /*调整靠左侧布局块的距离*/
    /*background-position-x: -40px;*/
    /*position: relative;*/
}

.header .right-box{

    background-color: rgba(255,255,255,0);
}


